html{background-color:white;color:black;font-family: 'IBM Plex Mono', monospace;font-size: 16px;}


body
{

  #outer-wrap
  {
    padding:4rem 8rem;
    max-width:1000px;
    margin:0 auto;
  }

  #logo{width:100%;text-align:center;padding-bottom:6rem;}
  #logo img{width:60%;}

  h2{font-size:2rem;font-weight:900;padding-bottom:1rem;font-style:normal;}
  h3{font-size:.7rem;}
  h4{font-weight:bold;font-size:.7rem;}


  i{font-style:italic;}
  p{font-size:.7rem;line-height:1.6rem;padding-bottom:1.6rem;}
  
  section{padding-bottom:3.2rem;}

  section
  {
    ul{padding-left:2%;padding-bottom:1.6rem;padding-top:.8rem;}
    li{font-size:.7rem;border-left:.2rem solid rgb(100,100,100);margin-top:.8rem;margin-bottom:.8rem;text-indent:.5rem;}
  }
  section#form{background-color:rgb(230,230,230);padding:0;}
  form
  {
    box-sizing:border-box;
    margin:0 auto;
    font-size:100%;
    max-width:1000px;
    h3{font-size:.7rem;padding-bottom:1rem;}
    label{font-size:.7rem;}
    hr{margin-bottom:2rem;}
    .form-group{padding-bottom:2rem}
    .select-option{padding-bottom:.5rem;}
  }

  
  footer
  {
    text-align:center;
    padding:5% 0;
    img{width:15%;}
  }

}