<script async src="https://www.googletagmanager.com/gtag/js?id=G-0M9EMRZHK4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0M9EMRZHK4');
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<style type="text/css">
	html {font-size: calc(15px + 0.390625vw);padding: calc(8px + 1.5625vw)}
	h1 {font-size: 2rem;}
	h2 {font-size: 1.5rem;}
	h3{font-size: 1.17rem;}
	code{font-size: .7rem;}
	li{line-height: 2rem;}
	ul{margin-bottom: 2rem;}

	#cosmosFavico{image-rendering: pixelated; image-rendering: crisp-edges;}
</style>