<script async src="https://www.googletagmanager.com/gtag/js?id=G-0M9EMRZHK4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0M9EMRZHK4');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-language" content="en-us">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7346472/6261632/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/src/css/core.css">