.wht-lt
{
  font-family: "Whitney A", "Whitney B";
  font-style: normal;
  font-weight: 300;
}

.wht-md
{
  font-family: "Whitney A", "Whitney B";
  font-style: normal;
  font-weight: 500;
}

.wht-bd
{
  font-family: "Whitney A", "Whitney B";
  font-style: normal;
  font-weight: 700;
}

.htf-ro-sc
{
  font-family: "Hoefler Text A", "Hoefler Text B";
  font-style: normal;
  font-weight: 400;
}