@media screen and (max-width: 780px){
  .outer-wrap{height:auto;overflow-y:visible;display:block;}

  body {
    &{height:auto;overflow:visible;}
      section section{padding:2rem;}
      section#form{padding:2rem !important;width:auto !important;}
  }
}

@media screen and (min-width:781px) and (max-width:1280px)
{
  body section section{max-width:600px !important;}
}