nav
{
  &{position:relative;background-color:black;min-height:100vh;color:white; flex: 0 0 16%;padding-top:1.5rem;z-index:100;}
  .nav-wrap{position:relative;width:100%;height:100%;overflow-x:hidden;}
  .logo-group
  {
    &{width:90%;margin:0 auto;text-align:center;}
    svg{width:70%;margin-bottom:.3rem;}
    .bar-rainbow{width:100%;height:2px;background: linear-gradient(90deg, rgba(249,72,114,1) 0%, rgba(255,157,51,1) 20%, rgba(255,219,69,1) 40%, rgba(152,219,22,1) 60%, rgba(94,210,229,1) 80%, rgba(156,140,234,1) 100%);border-radius:100%;}
    .tagline{font-size:.6rem;color:rgb(77,77,77);letter-spacing:.22rem;margin-top:.3rem;margin-bottom:1.5rem;}
  }

  .links-group
  {
    &{display:flex;width:70%; margin:0 auto;}
    .link-group{flex:0 0 50%;}
    .list-title{text-transform:uppercase;font-size:.6rem;margin-bottom:.3rem;color:white;}
    .list-title a{color:white;text-decoration:none;}
    .sections{text-align:left;}
    .databanks{text-align:right;}
    ul{list-style:none;text-transform: lowercase;font-size:.6rem;padding:0;margin:0;}
    li{margin-bottom:.3rem;position:relative;}
    li a{color:white;text-decoration:none;}
    li a:hover{font-weight:700;}
    li.current{font-weight:500;}
    li.current::after{content:"";display:block;width:100px;height:1px;border-bottom:2px dotted white;position:absolute;right:-115px;top:calc(50% - 1px);}
  }

  .links-group ul#nav_sections
  {
    li.current::after{right:auto;left:-115px}
  }
}

nav::after{content:"";display:block;width:3px;height:100vh;position:absolute;top:0;right:-6px;background-color:black;}