nav
{
  &{position:relative;background-color:black;min-height:100vh;color:white; flex: 0 0 16%;padding-top:1.5rem;z-index:100;transition:.2s all ease-in-out;}
  #nav-openclose{display:none;}
  .nav-wrap{position:relative;width:100%;height:100%;overflow-x:hidden;}
  .logo-group
  {
    &{width:90%;margin:0 auto;text-align:center;}
    svg{width:70%;margin-bottom:.3rem;}
    .bar-rainbow{width:100%;height:2px;background: linear-gradient(90deg, rgba(249,72,114,1) 0%, rgba(255,157,51,1) 20%, rgba(255,219,69,1) 40%, rgba(152,219,22,1) 60%, rgba(94,210,229,1) 80%, rgba(156,140,234,1) 100%);border-radius:100%;}
    .tagline{font-size:.6rem;color:rgb(77,77,77);letter-spacing:.22rem;margin-top:.3rem;margin-bottom:1.5rem;}
  }

  .links-group
  {
    &{display:flex;width:70%; margin:0 auto;}
    .link-group{flex:0 0 50%;}
    .list-title{text-transform:uppercase;font-size:.6rem;margin-bottom:.3rem;color:white;}
    .list-title a{color:white;text-decoration:none;}
    .sections{text-align:left;}
    .databanks{text-align:right;}
    ul{list-style:none;text-transform: lowercase;font-size:.6rem;padding:0;margin:0;}
    li{margin-bottom:.3rem;position:relative;transition:.2s all ease-in-out;color:rgb(240,240,240)}
    li a{color:white;text-decoration:none;}
    li a:hover{font-weight:700;color:white;}
    li.current{font-weight:500;color:white;}
    li.current::after{content:"";display:block;width:100px;height:1px;border-bottom:2px dotted white;position:absolute;right:-115px;top:calc(50% - 1px);}
  }

  .links-group ul#nav_sections
  {
    li.current::after{right:auto;left:-115px}
  }
}

nav::after{content:"";display:block;width:3px;height:100vh;position:absolute;top:0;right:-6px;background-color:black;}


@media screen and (max-width: 780px) {
  body nav
  {
    &{min-height:auto;padding-bottom:1.5rem;overflow:hidden;}
    .logo-group
    {
      &{width:96%; transition: .5s all ease-out;}
      svg{width:50%;margin-bottom:.5rem;}
      .tagline{font-size:.9rem;margin-top:.8rem;letter-spacing:.5rem;margin-bottom:3.5rem;}
    }

    .links-group
    {
      &{width:75%;}
      .list-title{font-size:.8rem;margin-bottom:1.5rem;}
      ul{font-size:1rem;}
      li{margin-bottom:2.5rem;}
    }

    #nav-openclose
    {
      &{transition:.2s all ease-out;z-index:100;border-radius:20%;overflow:hidden;display:flex;flex-direction:column;justify-content:space-between;position:absolute;right:1rem;top:1rem;cursor:pointer;width:2.5rem;height:32px;}
      .bar{transition:.5s all ease-in-out;width:100%;height:2px;background:rgb(160,160,160)}

    }
  }

  body nav.closed
  {
    &{padding-bottom:0px;}
    .logo-group{overflow:hidden;width:100%;}
    .logo-group svg{margin-bottom:1rem;}

    .tagline{display:none;}
    .bar-rainbow{margin-bottom:-3px;height:6px;}
    .links-group{display:none;}
    #nav-openclose{height:22px;border-radius:13%;}
    #nav-openclose .bar{background: linear-gradient(90deg, rgba(249,72,114,1) 0%, rgba(255,157,51,1) 20%, rgba(255,219,69,1) 40%, rgba(152,219,22,1) 60%, rgba(94,210,229,1) 80%, rgba(156,140,234,1) 100%);}
  }  

  body .outer-wrap{display:block;height:auto;}
  body{height:auto;overflow:visible}
}