{% assign book = page.fields %}
<% book = {{book}}.to_h %>
<% page_category = "books" %>

<!DOCTYPE html>
<html lang="en">
<head>
	{% include basic_head.html %}
	
	<title>{{book.title}}: Cosmos University Data</title>	
</head>
<body>
	<div class="outer-wrap">
		{% include _nav.html %}
		<section class="content">
			{% include _search.html %}
			<a href="..">&larr; Return to Books Databank Directory</a>
			<h1>{{book.title}}</h1>
			<ul>
				<% if book.has_key?("Author") %>
					<% book["Author"].each do |i| %>
					<% author = $db_people.find{|j|j["id"]==i} %>
					<li>
						<%= "Authored by: <a href='/databank/people/#{author['fields']['slug']}/'>#{author['fields']['name_full_long']}</a>" %>
					</li>
					<% end %>
				<% end %>
			</ul>
			<hr>
			<% if book["Data References"] > 0 %>
				<h2>Referenced Data</h3>
				<ul>
					<li>
						<span>This source is referenced in <%= book["Data References"] %> data points.</span>
					</li>
				</ul>
			<% end %>

			<br>
			{% include basic_footer.html %}
		</section>
	</div>
</body>
</html>