{% assign crystal = page.fields %}
<% crystal = {{crystal}}.to_h %>
<% page_category = "crystals" %>


<% crystal_magicals = [] %>
<% if crystal["num_magicals"] > 0 %>
	<% crystal["crystals_magical"].each do |p| %>
		<% crystal_magicals << $db_crystals_magicals.select { |k| k["id"] == p } %>
	<% end %>
<% end %>

<% crystal_magical_sources = [] %>
<% crystal_magical_genders = [] %>
<% crystal_magical_planets = [] %>
<% crystal_magical_zodiacs = [] %>
<% crystal_magical_elements = [] %>
<% crystal_magical_deities = [] %>
<% crystal_magical_chakras = [] %>
<% crystal_magical_effects = [] %>
<% crystal_magical_linked_crystals = [] %>
<% crystal_magical_linked_plants = [] %>

<% crystal_magicals.each do |p| %>
	<% this_item = p[0]["fields"] %>
	<% if this_item.has_key?("gender") %>
		<% crystal_magical_genders << this_item["gender"] %>
	<% end %>
	<% if this_item.has_key?("Planet") %>
		<% this_item["Planet"].each do |o| %>
			<% crystal_magical_planets << $db_celestials.find {|k| k["id"] == o} %>
		<% end %>
	<% end %>
	<% if this_item.has_key?("Zodiac") %>
		<% this_item["Zodiac"].each do |o| %>
			<% crystal_magical_zodiacs << $db_celestials.find {|k| k["id"] == o} %>
		<% end %>
	<% end %>
	<% if this_item.has_key?("Element") %>
		<% this_item["Element"].each do |o| %>
			<% crystal_magical_elements << $db_elements.find {|k| k["id"] == o} %>
		<% end %>
	<% end %>
	<% if this_item.has_key?("Deities") %>
		<% this_item["Deities"].each do |o| %>
			<% crystal_magical_deities << $db_deities.find {|k| k["id"] == o} %>
		<% end %>
	<% end %>
	<% if this_item.has_key?("Chakra") %>
		<% this_item["Chakra"].each do |o| %>
			<% crystal_magical_chakras << $db_chakras.find {|k| k["id"] == o} %>
		<% end %>
	<% end %>
	<% if this_item.has_key?("Effects") %>
		<% this_item["Effects"].each do |o| %>
			<% crystal_magical_effects << $db_magic_effects.find {|k| k["id"] == o} %>
		<% end %>
	<% end %>
	<% if this_item.has_key?("linked_crystals") %>
		<% this_item["linked_crystals"].each do |o| %>
			<% crystal_magical_linked_crystals << $db_crystals.find {|k| k["id"] == o} %>
		<% end %>
	<% end %>
	<% if this_item.has_key?("linked_plants") %>
		<% this_item["linked_plants"].each do |o| %>
			<% crystal_magical_linked_plants << $db_plants.find {|k| k["id"] == o} %>
		<% end %>
	<% end %>
<% end %>

<!DOCTYPE html>
<html>
<head>
	{% include basic_head.html %}
	<title>{{crystal.name_common}}: Spiritual and Scientific Data</title>	
</head>
<body>
	<div class="outer-wrap">
		{% include _nav.html %}
		<section class="content">
			{% include _search.html %}
			<a href="..">&larr; Return to Crystals Databank Directory</a>
			<h1>{{crystal.name_common}}</h1>
			<% if crystal.has_key?("names_aka") %>
				<p>Also known as: {{crystal.names_aka}}</p>
			<% end %>
			<% if crystal.has_key?("Variety Of") %>
				<% variety_of_arr = [] %>
				<% crystal["Variety Of"].each do |o| %>
					<% variety_of = $db_crystals.find{|k| k["id"] == o } %>
					<% variety_of_arr << "<a href='/databank/crystals/#{variety_of['fields']['slug']}/'>#{variety_of['fields']['name_common']}</a>" %>
				<% end %>
				<p>Variety of: <%= variety_of_arr.join(", ") %></p>
			<% end %>
			<% if crystal.has_key?("Varieties") %>
				<% varieties_arr = [] %>
				<% crystal["Varieties"].each do |o| %>
					<% variety = $db_crystals.find{|k| k["id"] == o } %>
					<% varieties_arr << "<a href='/databank/crystals/#{variety['fields']['slug']}/'>#{variety['fields']['name_common']}</a>" %>
				<% end %>
				<p>Known varieties: <%= varieties_arr.join(", ") %></p>
			<% end %>
			<hr>
			<h2>{{crystal.name_common}} Spiritual Properties from {{crystal.num_magicals}} sources</h2>
			<hr>
			<% if crystal_magical_genders.count > 0 %>
				<h3>Genders</h3>
				<ul>
				<% crystal_magical_genders.sort! %>
				<% tally_arr = crystal_magical_genders.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= p[0] %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if crystal_magical_planets.count > 0 %>
				<h3>Planets</h3>
				<ul>
				<% crystal_magical_planets.sort_by! {|k|k["fields"]["name"]} %>
				<% tally_arr = crystal_magical_planets.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/celestials/#{p['fields']['slug']}/'>#{p['fields']['name']}</a>" %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if crystal_magical_zodiacs.count > 0 %>
				<h3>Zodiacs</h3>
				<ul>
				<% crystal_magical_zodiacs.sort_by! {|k|k["fields"]["name"]} %>
				<% tally_arr = crystal_magical_zodiacs.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/celestials/#{p['fields']['slug']}/'>#{p['fields']['name']}</a>" %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if crystal_magical_elements.count > 0 %>
				<h3>Elements</h3>
				<ul>
				<% crystal_magical_elements.sort_by! {|k|k["fields"]["name"]} %>
				<% tally_arr = crystal_magical_elements.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/elements/#{p['fields']['slug']}/'>#{p['fields']['name']}</a>" %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if crystal_magical_deities.count > 0 %>
				<h3>Deities</h3>
				<ul>
				<% crystal_magical_deities.sort_by! {|k|k["fields"]["name_common"]} %>
				<% tally_arr = crystal_magical_deities.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/deities/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>" %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if crystal_magical_chakras.count > 0 %>
				<h3>Chakras</h3>
				<ul>
				<% crystal_magical_chakras.sort_by! {|k|k["fields"]["name"]} %>
				<% tally_arr = crystal_magical_chakras.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/chakras/#{p['fields']['slug']}/'>#{p['fields']['name']}</a>"  %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if crystal_magical_effects.count > 0 %>
				<h3>Magic Effects</h3>
				<ul>
				<% crystal_magical_effects.sort_by! {|k|k["fields"]["name"]} %>
				<% tally_arr = crystal_magical_effects.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/magic-effects/#{p['fields']['slug']}/'>#{p['fields']['name']}</a>" %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if crystal_magical_linked_crystals.count > 0 %>
				<h3>Affinity with Crystals</h3>
				<ul>
				<% crystal_magical_linked_crystals.sort_by! {|k|k["fields"]["name_common"]} %>
				<% tally_arr = crystal_magical_linked_crystals.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/crystals/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>" %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
						</li>
				<% end %>
				</ul>
			<% end %>

			<% if crystal_magical_linked_plants.count > 0 %>
				<h3>Affinity with Plants</h3>
				<ul>
				<% crystal_magical_linked_plants.sort_by! {|k|k["fields"]["name_common"]} %>
				<% tally_arr = crystal_magical_linked_plants.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/plants/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>" %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
					</li>
				<% end %>
				</ul>
			<% end %>



			<br>
			{% include basic_footer.html %}
		</section>
	</div>
</body>
</html>