{% assign deity = page.fields %}
<% deity = {{deity}}.to_h %>
<% page_category = "deities" %>

<% deity_plants = [] %>
<% deity_crystals = [] %>

<% if deity.has_key?("plants_magical") %>
	<% deity["plants_magical"].each do |p| %>
		<% tmpa = $db_plant_magicals.find { |k| k["id"] == p} %>
		<% deity_plants <<  $db_plants.find { |k| k["id"] == tmpa["fields"]["id_plant"][0] } %>
	<% end %>
<% end %>

<% if deity.has_key?("crystals_magical") %>
	<% deity["crystals_magical"].each do |p| %>
		<% tmpa = $db_crystals_magicals.find { |k| k["id"] == p} %>
		<% deity_crystals <<  $db_crystals.find { |k| k["id"] == tmpa["fields"]["id_crystal"][0] } %>
	<% end %>
<% end %>

<% deity_parents = [] %>
<% deity_offspring = [] %>
<% deity_siblings = [] %>
<% deity_twins = [] %>


<% if deity.has_key?("deities_family") %>
	<% deity["deities_family"].each do |p| %>
		<% tmpa = $db_deities_family.find{|k| k["id"] == p} %>
		<% if tmpa["fields"]["relationship"] == "parents" %>
			<% tmpa["fields"]["id_deities_related_to"].each do |j| %>
				<% deity_parents << $db_deities.find {|k| k["id"] == j } %>
			<% end %>
		<% end %>
		<% if tmpa["fields"]["relationship"] == "twin" %>
			<% tmpa["fields"]["id_deities_related_to"].each do |j| %>
				<% deity_twins << $db_deities.find {|k| k["id"] == j } %>
			<% end %>
		<% end %>
		<% if tmpa["fields"]["relationship"] == "sibling" %>
			<% tmpa["fields"]["id_deities_related_to"].each do |j| %>
				<% deity_siblings << $db_deities.find {|k| k["id"] == j } %>
			<% end %>
		<% end %>
		<% if tmpa["fields"]["relationship"] == "children" %>
			<% tmpa["fields"]["id_deities_related_to"].each do |j| %>
				<% deity_offspring << $db_deities.find {|k| k["id"] == j } %>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% if deity.has_key?("family_of_deities") %>
	<% deity["family_of_deities"].each do |p| %>
		<% tmpa = $db_deities_family.find{|k| k["id"] == p} %>
		<% if tmpa["fields"]["relationship"] == "children" %>
			<% deity_parents << $db_deities.find {|k| k["id"] == tmpa["fields"]["id_deity"][0] } %>
		<% end %>
		<% if tmpa["fields"]["relationship"] == "twin" %>
			<% deity_twins << $db_deities.find {|k| k["id"] == tmpa["fields"]["id_deity"][0] } %>
		<% end %>
		<% if tmpa["fields"]["relationship"] == "sibling" %>
			<% deity_siblings << $db_deities.find {|k| k["id"] == tmpa["fields"]["id_deity"][0] } %>
		<% end %>
		<% if tmpa["fields"]["relationship"] == "parents" %>
			<% deity_offspring << $db_deities.find {|k| k["id"] == tmpa["fields"]["id_deity"][0] } %>
		<% end %>
	<% end %>
<% end %>



<% deity_parents.uniq! %>
<% deity_offspring.uniq! %>
<% deity_siblings.uniq! %>
<% deity_twins.uniq! %>


<%
deity_entity_groups = []

if deity.has_key?("entities-associations")
	deity["entities-associations"].each do |i|
		deity_entity_groups << $db_entities.find{|j|j["id"]==i}
	end
end 
%>


<!DOCTYPE html>
<html lang="en">
<head>
	{% include basic_head.html %}
	<title>{{deity.name_common}}: Metaphysical and Historical Data</title>	
</head>
<body>
	<div class="outer-wrap">
		{% include _nav.html %}
		<section class="content">
			{% include _search.html %}
			<a href="..">&larr; Return to Deities Databank Directory</a>
			<h1>{{deity.name_common}}</h1>
			<ul>
				<% if deity.has_key?("id_religion") %>
					<li><b>Associated Religions, Traditions, and Pantheons</b>
						<ul>
							<% deity["id_religion"].each do |i| %>
							<% tmpa = $db_religions.find{|k| k["id"] == i } %>
							<li>
								<%= "<a href='/databank/religions/#{tmpa['fields']['slug']}/'>#{tmpa['fields']['name']}</a>"  %>
							</li>
							<% end %>
						</ul>
					</li>
				<% end %>
				<% if deity_entity_groups.count > 0 %>
					<li><b>Entity Classifications</b></li>
						<ul>
							<% deity_entity_groups.each do |i| %>
							<li>
								<%= "<a href='/databank/entities/#{i['fields']['slug']}/'>#{i['fields']['name_plural']}</a>"  %>
							</li>
							<% end %>
						</ul>
				<% end %>
			</ul>
			<hr>

			<% if deity_plants.count > 0 %>
				<h3>Associated Plants</h3>
				<ul>
				<% deity_plants.sort_by! {|k|k["fields"]["name_common"]} %>
				<% tally_arr = deity_plants.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/plants/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>"  %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>		
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if deity_crystals.count > 0 %>
				<h3>Associated Crystals</h3>
				<ul>
				<% deity_crystals.sort_by! {|k|k["fields"]["name_common"]} %>
				<% tally_arr = deity_crystals.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/crystals/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>" %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>		
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if deity_parents.count > 0 %>
				<h3>Progenitors of <%= deity["name_common"] %></h3>
				<ul>
				<% deity_parents.sort_by! {|k|k["fields"]["name_common"]} %>
				<% deity_parents.each do |p| %>
				<li>
					<%= "<a href='/databank/deities/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>" %>
				</li>
				<% end %>
				</ul>
			<% end %>

			<% if deity_siblings.count > 0 %>
				<h3>Siblings of <%= deity["name_common"] %></h3>
				<ul>
				<% deity_siblings.sort_by! {|k|k["fields"]["name_common"]} %>
				<% deity_siblings.each do |p| %>
				<li>
					<%= "<a href='/databank/deities/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>" %>
				</li>
				<% end %>
				</ul>
			<% end %>

			<% if deity_twins.count > 0 %>
				<h3>Twins of <%= deity["name_common"] %></h3>
				<ul>
				<% deity_twins.sort_by! {|k|k["fields"]["name_common"]} %>
				<% deity_twins.each do |p| %>
				<li>
					<%= "<a href='/databank/deities/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>" %>
				</li>
				<% end %>
				</ul>
			<% end %>

			<% if deity_offspring.count > 0 %>
				<h3>Offspring of <%= deity["name_common"] %></h3>
				<ul>
				<% deity_offspring.sort_by! {|k|k["fields"]["name_common"]} %>
				<% deity_offspring.each do |p| %>
				<li>
					<%= "<a href='/databank/deities/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>" %>
				</li>
					<% end %>
				</ul>
			<% end %>

			<br>
			{% include basic_footer.html %}
		</section>
	</div>
</body>
</html>