<% page_category = "directory_databanks" %>
<!doctype html>
<html lang="en">
  <head>
    {% include basic_head.html %}
    <title>Cosmos University Databanks</title>  
  </head>
  <body>
    <div class="outer-wrap">
      {% include _nav.html %}
      <section class="content">
        {% include _search.html %}
        <h1>Cosmos University: Databanks</h1>
        <hr>
        <ul>
          <% $nav_databanks[:live][:databanks].each do |p| %>
            <li>
              <a href="<%= p[:dir_url] %>">
                <%= "#{p[:title]} (#{p[:num_records]}) Records" %>
              </a>
            </li>
          <% end %>
        </ul>
        {% include basic_footer.html %}
      </section>
    </div>
  </body>
</html>