<% page_category = "deities" %>
<!doctype html>
<html lang="en">
  <head>
    {% include basic_head.html %}
    <meta property="og:image" content="https://cosmos.university/social/og-cosmosuniversity-esotericknowledgedatabanks-seal.png" />
    <meta name="description" content="The Deities Databank contains data on <%= "#{$db_deities.count.humanize}" %> deities and their historical, magical, ritualistic, and metaphysical properties.">
    <title>Deities Databank</title>
  </head>
  <body>
    <div class="outer-wrap">
      {% include _nav.html %}
      <section class="content">
        {% include _search.html %}
        <a href="..">&larr; Return to Databank Directory</a>
        <h1>Deities Databank</h1>
        <p>This Databank contains entries on <%= $db_deities.count.humanize %> deities and their associations to their respective pantheons, spiritual properties, and ritualistic practices. This information is currently being gathered and updated as we accumulate it.</p>
        <br>
        <div><b>If you're interested in helping create this databank:</b></div>
        <ul>
          <li>Let us know if you see any incorrect data</li>
          <li>We are looking for help with deity names being incorrectly represented and potentially creating duplicate entries</li>
          <li>We are seeking materials that define the role of deities in spiritual practices</li>
          <li>Suggest any data fields we could add</li>
          <li>We have a large backlog of data (lineages/ families, properties, stories, etc) that need to be entered</li>
          <li><i>If you'd like to help, please <a href="https://discord.gg/U7SHmbntuh">join our Discord</a> and make suggestions in the databanks -> #deities channel</i></li>
        </ul>
        <br>
        <hr>
        {% assign directory_alpha = site.data[page.directory_for] | sort: "fields.name_common" %}
        <br>
        <h2>Deity List</h2>
        <ul>
          {% for item in directory_alpha %}
          <li>
            <a href="{{item.fields.slug}}/">
              {{item.fields.name_common}}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% include basic_footer_directory.html %}
      </section>
    </div>
  </body>
</html>