<% page_category = "religions" %>
<!doctype html>
<html lang="en">
  <head>
    {% include basic_head.html %}
    <meta property="og:image" content="https://cosmos.university/social/og-cosmosuniversity-esotericknowledgedatabanks-seal.png" />
    <meta name="description" content="The Religions Databank contains data on <%= "#{$db_religions.count.humanize}" %> religions and their historical, magical, ritualistic, and metaphysical properties.">
    <title>Cosmos University: Religions Databank</title>
  </head>
  <body>
    <div class="outer-wrap">
      {% include _nav.html %}
      <section class="content">
        {% include _search.html %}
        <a href="..">&larr; Return to Databank Directory</a>
        <h1>Cosmos University: Religions Databank</h1>
        <p>This Databank contains entries on <%= "#{$db_religions.count.humanize}" %> religions and lists their historical information, rituals, pantheons, and any other associated metaphysical properties. This information is currently being gathered and curated as we accumulate it. We anticipate many additions as we work through various histories.</p>
        <p><i>If you're interested in helping:</i> We are always on the lookout for incorrect information within this databank, and information which we did not correctly assemble. We're facing a backlog of many minor religions that need to be entered. We're also trying to ensure the data we have entered is accurate and thoroughly links various religions with each other.</p>
        <br>
        <hr>
        {% assign directory_alpha = site.data[page.directory_for] | sort: "fields.name" %}
        <br>
        <h2>Religon List</h2>
        <ul>
          {% for item in directory_alpha %}
          <li>
            <a href="{{item.fields.slug}}/">
              {{item.fields.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% include basic_footer.html %}
      </section>
    </div>
  </body>
</html>