<% page_category = "plants" %>
<!doctype html>
<html lang="en">
  <head>
    {% include basic_head.html %}
    <title>Cosmos University: Plants Databank</title>
  </head>
  <body data-directory="plants">
    <div class="outer-wrap">
      {% include _nav.html %}
      <section class="content">
        {% include _search.html %}
        <a href="..">&larr; Return to Databank Directory</a>
        <h1>Cosmos University: Plants Databank</h1>
        <hr>
        {% assign directory_alpha = site.data[page.directory_for] | sort: "fields.name_common" %}
        <ul>
          {% for item in directory_alpha %}
          <li>
            <a href="{{item.fields.slug}}/">
              {{item.fields.name_common}} | {{item.fields.num_magicals}}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% include basic_footer.html %}
      </section>
    </div>

    
  </body>
</html>