<% page_category = "elements" %>
<!doctype html>
<html lang="en">
  <head>
    {% include basic_head.html %}
    <title>Cosmos University: Elements Databank</title>
  </head>
  <body>
    <div class="outer-wrap">
      {% include _nav.html %}
      <section class="content">
        <a href="..">&larr; Return to Databank Directory</a>
        <h1>Cosmos University: Elements Databank</h1>
        <hr>
        {% assign directory_alpha = site.data[page.directory_for] | sort: "fields.name" %}
        <ul>
          {% for item in directory_alpha %}
          <li>
            <a href="{{item.fields.slug}}/">
              {{item.fields.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% include basic_footer.html %}
      </section>
    </div>
  </body>
</html>