<% page_category = "chakras" %>
<!doctype html>
<html lang="en">
  <head>
    {% include basic_head.html %}
    <meta property="og:image" content="https://cosmos.university/social/og-cosmosuniversity-esotericknowledgedatabanks-seal.png" />
    <meta name="description" content="The Charkas Databank contains data on <%= "#{$db_chakras.count.humanize}" %> chakras and their associated entries to other metaphysical properties and objects.">
    <title>Chakras Databank</title>
  </head>
  <body>
    <div class="outer-wrap">
      {% include _nav.html %}
      <section class="content">
        {% include _search.html %}
        <a href="..">&larr; Return to Databank Directory</a>
        <h1>Chakras Databank</h1>
        <p>This Databank contains entries on <%= "#{$db_chakras.count.humanize}" %> chakras, and will be expanded to contain more systems. This directory page is marked for a graphical update in our next interface upgrade. We are currently in the process of associating other Databanks to this one.</p>
        <br>
        <div><b>If you're interested in helping create this databank:</b></div>
        <ul>
          <li>We're seeking data related to biological, neurological, and electromagnetic studies done in regards to the areas in which chakras are purported to be</li>
          <li>Suggest any data fields we could add</li>
          <li><i>If you'd like to help, please <a href="https://discord.gg/U7SHmbntuh">join our Discord</a> and make suggestions in the databanks -> #chakras channel</i></li>
        </ul>
        <br>
        <hr>
        {% assign directory_alpha = site.data[page.directory_for] | sort: "fields.name" %}
        <br>
        <h2>Chakra List</h2>
        <ul>
          {% for item in directory_alpha %}
          <li>
            <a href="{{item.fields.slug}}/">
              {{item.fields.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% include basic_footer_directory.html %}
      </section>
    </div>
  </body>
</html>