{% assign element = page.fields %}
<% element = {{element}}.to_h %>
<% page_category = "elements" %>

<% element_plants = [] %>
<% element_crystals = [] %>
<% element_chakras = [] %>

<% if element.has_key?("plants_magical") %>
	<% element["plants_magical"].each do |p| %>
		<% tmpa = $db_plant_magicals.find { |k| k["id"] == p} %>
		<% element_plants <<  $db_plants.find { |k| k["id"] == tmpa["fields"]["id_plant"][0] } %>
	<% end %>
<% end %>

<% if element.has_key?("crystals_magical") %>
	<% element["crystals_magical"].each do |p| %>
		<% tmpa = $db_crystals_magicals.find { |k| k["id"] == p} %>
		<% element_crystals <<  $db_crystals.find { |k| k["id"] == tmpa["fields"]["id_crystal"][0] } %>
	<% end %>
<% end %>

<% if element.has_key?("chakras") %>
	<% element["chakras"].each do |p| %>
		<% element_chakras << $db_chakras.find { |k| k["id"] == p} %>
	<% end %>
<% end %>


<!DOCTYPE html>
<html>
<head>
	{% include basic_head.html %}
	<title>{{element.name}}: Spiritual and Scientific Data</title>	
</head>
<body>
	<div class="outer-wrap">
		{% include _nav.html %}
		<section class="content">
			{% include _search.html %}
			<a href="..">&larr; Return to Elements Databank Directory</a>
			<h1>{{element.name}}</h1>
			<hr>


			<% if element_chakras.count > 0 %>
				<h3>Associated Chakras</h3>
				<ul>
				<% element_chakras.sort_by! {|k|k["fields"]["name"]} %>
				<% tally_arr = element_chakras.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/chakras/#{p['fields']['slug']}/'>#{p['fields']['name']}</a>"  %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>		
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if element_plants.count > 0 %>
				<h3>Associated Plants</h3>
				<ul>
				<% element_plants.sort_by! {|k|k["fields"]["name_common"]} %>
				<% tally_arr = element_plants.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/plants/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>"  %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>
						</li>
				<% end %>
				</ul>
			<% end %>

			<% if element_crystals.count > 0 %>
				<h3>Associated Crystals</h3>
				<ul>
				<% element_crystals.sort_by! {|k|k["fields"]["name_common"]} %>
				<% tally_arr = element_crystals.tally %>
				<% tally_arr.each do |p,k| %>
					<li>
						<%= "<a href='/databank/crystals/#{p['fields']['slug']}/'>#{p['fields']['name_common']}</a>" %>
						<% if k > 1 %>
							<br><span>(<%= k %> sources agree)</span>
						<% end %>		
					</li>
				<% end %>
				</ul>
			<% end %>

			<br>
			{% include basic_footer.html %}
		</section>
	</div>
</body>
</html>